In [ ]:
# MÁSTER DE CIENCIA DE DATOS
# MÉTODOS DESCRIPTIVOS
# Dr. José Raúl Romero, 2022

# Haz una copia local de este notebook para realizar modificaciones

# Instalamos mlxtend
!pip install mlxtend

Requirement already satisfied: mlxtend in /usr/local/lib/python3.7/dist-packages (0.14.0)
Requirement already satisfied: matplotlib>=1.5.1 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (3.2.2)
Requirement already satisfied: scipy>=0.17 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.4.1)
Requirement already satisfied: numpy>=1.10.4 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.21.5)
Requirement already satisfied: scikit-learn>=0.18 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.0.2)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from mlxtend) (57.4.0)
Requirement already satisfied: pandas>=0.17.1 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.3.5)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (0.11.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (3.0.7)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (1.3.2)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.17.1->mlxtend) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib>=1.5.1->mlxtend) (1.15.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.18->mlxtend) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.18->mlxtend) (3.1.0)

In [ ]:
# Importamos paquetes
import pandas as pd

from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [ ]:
# Cargamos el dataset
df = pd.read_csv('bankdata_py.csv')
df

FileNotFoundError: ignored

In [ ]:
# Realizamos cualquier tipo de preprocesamiento que sea necesario
# Como ejemplo, para este dataset no nos interesa cuántos hijos tiene el 
# solicitante del préstamo, sino si tiene o no hijos 
df["children"] = ['NO' if x == 0 else 'YES' for x in df["children"]]
# Tampoco nos interesa la columna con el id (no aporta información útil)
df = df.drop("id",1)
df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only

        age     sex      region   income  ... save_act current_act mortgage  pep
0    adulto  FEMALE  INNER_CITY   'BAJO'  ...       NO          NO       NO  YES
1    adulto    MALE        TOWN  'MEDIO'  ...       NO         YES      YES   NO
2     mayor  FEMALE  INNER_CITY   'BAJO'  ...      YES         YES       NO   NO
3     joven  FEMALE        TOWN   'BAJO'  ...       NO         YES       NO   NO
4     mayor  FEMALE       RURAL   'ALTO'  ...      YES          NO       NO   NO
..      ...     ...         ...      ...  ...      ...         ...      ...  ...
595   mayor  FEMALE  INNER_CITY   'ALTO'  ...      YES         YES      YES   NO
596   joven  FEMALE  INNER_CITY   'BAJO'  ...      YES         YES       NO   NO
597   joven  FEMALE        TOWN   'BAJO'  ...      YES          NO       NO  YES
598   joven    MALE  INNER_CITY   'BAJO'  ...      YES          NO      YES   NO
599  adulto    MALE        TOWN  'MEDIO'  ...       NO         YES      YES  YES

[600 rows x 11 columns]

In [ ]:
# Apriori requiere variables binarias, por lo que convertimos 
# con la función get_dummies de pandas
df = pd.get_dummies(df, drop_first=False)
df

     age_adulto  age_joven  age_mayor  ...  mortgage_YES  pep_NO  pep_YES
0             1          0          0  ...             0       0        1
1             1          0          0  ...             1       1        0
2             0          0          1  ...             0       1        0
3             0          1          0  ...             0       1        0
4             0          0          1  ...             0       1        0
..          ...        ...        ...  ...           ...     ...      ...
595           0          0          1  ...             1       1        0
596           0          1          0  ...             0       1        0
597           0          1          0  ...             0       0        1
598           0          1          0  ...             1       1        0
599           1          0          0  ...             1       0        1

[600 rows x 26 columns]

In [ ]:
# PASO 1: Generación de itemsets frecuentes
# minsup = 0.2
# Puede probar distintas combinaciones de min_support y min_conf
frequent_itemsets = apriori(df, min_support=0.2, use_colnames=True)
frequent_itemsets

      support                                           itemsets
0    0.356667                                       (age_adulto)
1    0.325000                                        (age_joven)
2    0.318333                                        (age_mayor)
3    0.500000                                       (sex_FEMALE)
4    0.500000                                         (sex_MALE)
..        ...                                                ...
221  0.236667  (mortgage_NO, save_act_YES, current_act_YES, m...
222  0.216667  (save_act_YES, pep_NO, current_act_YES, marrie...
223  0.200000   (mortgage_NO, save_act_YES, pep_NO, married_YES)
224  0.215000  (mortgage_NO, pep_NO, current_act_YES, married...
225  0.208333  (mortgage_NO, save_act_YES, current_act_YES, c...

[226 rows x 2 columns]

In [ ]:
# PASO 2: Generación de reglas de asociación
# min_threshold = 0.8 (confidence)
rules = association_rules(frequent_itemsets, metric="confidence",min_threshold=0.8)
rules

                              antecedents  ... conviction
0                             (age_joven)  ...   4.875000
1            (current_act_YES, age_joven)  ...   5.355000
2                   (children_NO, pep_NO)  ...   2.183846
3                   (mortgage_NO, pep_NO)  ...   1.870000
4                   (mortgage_NO, car_NO)  ...   1.220726
5     (mortgage_NO, save_act_YES, pep_NO)  ...   2.194545
6  (mortgage_NO, pep_NO, current_act_YES)  ...   1.852414

[7 rows x 9 columns]